# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
.env/
.env

# IDE
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/